.footer {
    background-color: $dark-blue-color;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 46px;
}
.container {
}
.footer__img {
}
.footer__btn {
}
.btn {
}
.footer__link {
}