$purple-color: #666CA3;
$dark-blue-color: #13183F;
$gray-color: #83869A;
$dark-pink-color: #F74780;
$light-pink-color: #F74780;
$white-color: #FFFFFF;
$orange-linear: var(--gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
$purple-linear: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);

$body-ff: 'Plus Jakarta Sans', sans-serif;